*.pdf
*.zip
.*/logs
*.gz

Tarea02/Ejercicio02/fairface-img-margin025-trainval.zip
Tarea02/Ejercicio02/fairface-img-margin025-trainval
Tarea02/Ejercicio02/Ej2.zip
Tarea02/Ejercicio03/SpeechCommands
Tarea02/Ejercicio03/logs/events.out.tfevents.1729216119.qwery-pc.12359.0
Tarea02/Ejercicio03/speech_commands_v0.02.tar.gz
Tarea02/Ejercicio02/Ej2.zip
Tarea02/Ejercicio03/SpeechCommands/

Proyecto/pretrained_models/gurbansound8k_ecapa/classifier.ckpt
Proyecto/pretrained_models/gurbansound8k_ecapa/embedding_model.ckpt
Proyecto/pretrained_models/gurbansound8k_ecapa/hyperparams.yaml
Proyecto/pretrained_models/gurbansound8k_ecapa/label_encoder.ckpt

Tarea03/fairface-img-margin025-trainval/
Tarea03/SpeechCommands/
Proyecto/Data/AudioSet
Proyecto/Data/unbalanced_train_segments.csv